include LICENSE
include README.md
include pyproject.toml

recursive-include data *.json

recursive-include src *.py

recursive-include tests *.py *.ipynb *.vcf *.fna *.csv

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.py[cod]